<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
		
<hibernate-configuration>
  <session-factory>
  	<!-- We're using MySQL database so the dialect needs to MySQL as well-->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <!-- Enable this to see the SQL statements in the logs-->
    <property name="show_sql">false</property>
    <property name="hbm2ddl.auto">update</property>
    <mapping class="org.lucifer.abchat.domain.User" />
    <mapping class="org.lucifer.abchat.domain.Bot" />
    <mapping class="org.lucifer.abchat.domain.Chat" />
    <mapping class="org.lucifer.abchat.domain.Cospeaker" />
    <mapping class="org.lucifer.abchat.domain.Message" />
    <mapping class="org.lucifer.abchat.domain.UserAnswer" />
  </session-factory>
</hibernate-configuration>
